/* Tailwind Base and Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Font face definitions */
@font-face {
    font-family: 'Urbanist';
    src: url('./res/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

/* Utility classes for your custom fonts */
.font-urbanist-thin {
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
}

.my-font {
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Add media queries for large screens (768px and above) */
@media (min-width: 768px) {
    .lg\:hidden {
      display: none;
    }
  
    .lg\:static {
      position: static;
    }
  
    .lg\:flex-row {
      flex-direction: row;
    }
  }
  
.bullet-point {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
}

.bullet-point::before {
    content: '→';
    color: #F97316; /* Tailwind's orange-500 color code */
    position: absolute;
    left: 0;
    top: 0;
}

.orange-bullet ul {
    list-style: none;
}

.orange-bullet li::before {
    content: '\2022'; /* Unicode bullet point */
    color: #f97316;   /* Tailwind's orange-500 */
    display: inline-block;
    width: 1em;
    margin-left: -1em; /* Adjust as necessary */
}


  
  
  
  

